html {
  overflow-x: hidden;
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--bgcolor-light);
  border-radius: 5rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: var(--bgcolor-light);
  color: var(--textcolor-dark);
  line-height: 1.7;
}

section {
  padding: 2rem 0;
}

/* header starts */
.headerEvents {
  background: var(--bgcolor-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--bgcolor-gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headerLogo {
  margin: 0;
  padding: 5px 1rem;
  font-size: 2rem;
}

.headerLogo span {
  color: var(--textcolor-red);
}

.headerNavBar a {
  margin: 0 1rem;
  color: var(--textcolor-dark);
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
}

.headerNavBar a:hover {
  color: var(--textcolor-red);
  border-bottom: 0.1rem solid var(--bgcolor-brown);
  padding-bottom: 0.5rem;
}

.headerIcons {
  display: flex;
  justify-content: center;
  width: 20%;
  gap: 1.5rem;
}

.headerIcons div {
  color: var(--textcolor-dark);
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}

.headerIcons div:hover {
  color: var(--textcolor-lightSalmon);
}

#headerIconsMenu-btn {
  display: none;
}
/* header ends */

/* Events section starts */
.eventsHeading {
  text-align: center;
}

.eventsContainer {
  border: 1px solid var(--bgcolor-secundary);
  border-radius: 10px;
}

#search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  width: 100%;
}

#date-picker {
  background: var(--bgcolor-secundary);
  padding: 1rem;
  color: var(--textcolor-dark);
  border-radius: 5px;
}

#search-container option {
  color: var(--textcolor-dark);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.event-container {
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 15px;
  cursor: pointer;
}

#map {
  width: 80%;
  height: 350px;
}

.event-img {
  max-width: 250px;
}

.event-info {
  width: 100%;
}

.event-info p {
  margin-bottom: 8px;
}

.event-date,
.event-time {
  font-weight: 500;
  font-size: 14px;
}

.event-name {
  font-weight: 600;
}

.event-place {
  font-weight: 300;
}
/* Events section Ends */

/* About section starts */
.aboutHeading,
.menuHeading,
.productsHeading,
.reviewsHeading,
.contactHeading,
.blogsHeading {
  text-align: center;
  color: var(--bgcolor-brown);
  text-transform: uppercase;
  padding: 0.5rem;
}
.aboutHeading span,
.menuHeading span,
.productsHeading span,
.reviewsHeading span,
.contactHeading span,
.blogsHeading span {
  color: var(--textcolor-dark);
}

.aboutBoxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
}

.aboutBoxContainer .aboutRowImage {
  flex: 1 1 20rem;
}

.aboutBoxContainer.aboutRowImage img {
  height: 10rem;
  border: 2px solid red;
}

.aboutBoxContainer .aboutRowContent {
  flex: 1 1 20rem;
  padding: 2rem;
}

.aboutBoxContainer .aboutRowContent p {
  padding: 1rem 0;
  line-height: 1.8;
}

.aboutRowContent span {
  color: var(--textcolor-red);
}
/* About section ends */

/* Review section Starts */
.testimony {
  background-color: var(--bgcolor-gray);
}

.testimony_container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.testimony_body {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  padding: 1rem;
}

.testimony_body--show {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

.testimony_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

#testimony_img3 {
  object-position: 40% 70%;
}

.testimony_texts {
  max-width: 700px;
}

.testimony_course {
  background-color: var(--bgcolor-brown);
  color: var(--bgcolor-light);
  display: inline-block;
  padding: 5px;
}

.testimony_arrow {
  width: 90%;
  cursor: pointer;
}

.testimony_review {
  font-size: 1.5rem;
  font-style: italic;
}

/* Review section Ends */

/* Contact section Starts */
.contactRow {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}

.contactRow .contactRowForm {
  width: 50%;
}

.contactRowFormInputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  background: var(--bgcolor-light);
  border: var(--border);
  border-radius: 5px;
}

.contactRowFormInputBox span {
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.contactRowFormInputBox input {
  width: 100%;
  padding: 1rem;
  background: var(--bgcolor-light);
}
/* Contact section Ends */

/* Company section Starts */
.companyInfoContainer {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  grid-template-rows: minmax(6rem, auto);
  padding: 1rem;
  gap: 2rem;
}

.companyLogo-socialMedia {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}

.companyInfoLogo img {
  width: 18rem;
}

.companyInfoLogo h1 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.companyInfoLogo span {
  color: var(--textcolor-red);
}

.CorporateCultureMenu ul a:hover,
.CorporateCulturePolitics ul a:hover {
  color: var(--textcolor-red);
}

.companyInfoSocialMedia {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.companyInfoSocialMedia img {
  width: 40px;
  transition: 0.2s ease-in;
}

.companyInfoSocialMedia img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* Company section ends */

/* Footer starts*/
.footerContainer {
  background: var(--bgcolor-dark);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

footer span {
  color: red;
}

.footerParagraph {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

footer a {
  color: red;
}
/* Footer ends*/

/* M E D I A  Q U E R I E S */
@media (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 85%;
  }

  .home {
    text-align: center;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  #headerIconsMenu-btn {
    display: inline-block;
    align-self: center;
  }

  .headerNavBar {
    position: absolute;
    top: 110%;
    right: -100%;
    background: var(--textcolor-lightbrown);
    width: 15rem;
    height: calc(55vh - 7rem);
  }

  .headerNavBar.active {
    right: 0;
  }

  .headerNavBar a {
    color: var(--textcolor-dark);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .headerSearchForm {
    right: 2rem;
  }

  .homeContent {
    padding: 0 4rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }

  .aboutRowContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviewsBoxContainer {
    padding: 0 2rem;
  }

  .contactRow {
    gap: 1rem;
    margin: 1.5rem 0;
    width: 100%;
  }

  .contactRow .contactRowMap {
    height: 20rem;
  }

  .contactRow .contactRowForm {
    padding: 1rem 0;
  }
}
